<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ content_for_header }}
    <!-- {{ 'header.css' | asset_url | stylesheet_tag }}
    {{ 'main.css' | asset_url | stylesheet_tag }}
    {{ 'sponsors.css' | asset_url | stylesheet_tag }}
    {{ 'hero.css' | asset_url | stylesheet_tag }}
    {{ 'banner.css' | asset_url | stylesheet_tag }}
    {{ 'card.css' | asset_url | stylesheet_tag }}
    {{ 'featured.css' | asset_url | stylesheet_tag }}
    {{ 'testimonials.css' | asset_url | stylesheet_tag }}
    {{ 'footer.css' | asset_url | stylesheet_tag }} -->
    <link href="/src/style.css" rel="stylesheet">
  </head>
    <!-- {{ 'header.css' | asset_url | stylesheet_tag }} -->
    <!-- {{ 'main.css' | asset_url | stylesheet_tag }} -->
    <!-- {{ 'sponsors.css' | asset_url | stylesheet_tag }} -->
    <!-- {{ 'hero.css' | asset_url | stylesheet_tag }} -->
    <!-- {{ 'banner.css' | asset_url | stylesheet_tag }} -->
    <!-- {{ 'card.css' | asset_url | stylesheet_tag }} -->
    <!-- {{ 'featured.css' | asset_url | stylesheet_tag }} -->
    <!-- {{ 'testimonials.css' | asset_url | stylesheet_tag }} -->
    <!-- {{ 'footer.css' | asset_url | stylesheet_tag }} -->
  <link href="/assets/output.css" rel="stylesheet"> </head>
  <body>
    {% render 'header' %}
    {{ content_for_layout }}
  </body>
  {% render 'footer' %}
</html>