<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/style.css" rel="stylesheet">
    {{ content_for_header }}
    {{ 'header.css' | asset_url | stylesheet_tag }}
    {{ 'main.css' | asset_url | stylesheet_tag }}
    {{ 'sponsors.css' | asset_url | stylesheet_tag }}
    {{ 'hero.css' | asset_url | stylesheet_tag }}
    {{ 'banner.css' | asset_url | stylesheet_tag }}
    {{ 'card.css' | asset_url | stylesheet_tag }}
    {{ 'featured.css' | asset_url | stylesheet_tag }}
    {{ 'testimonials.css' | asset_url | stylesheet_tag }}
    {{ 'footer.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    {% render 'header' %}
    {{ content_for_layout }}
  </body>
  {% render 'footer' %}
</html>